{% extends 'base.html' %}
{% block title %}
    パスワード再設定完了
{% endblock %}
{% block content %}
<div class="col-md-3 mx-auto mt-5">
    <div class="card">
        <div class="card-body">
            <h1 class="h2">パスワード再設定完了</h1>
            <p class="alert px-2">
                パスワードの再設定が完了しました。 <br>
                新しいパスワードで再度ログインをしてください。
            </p>
            <div class="d-flex flex-column mt-3">
                <a class="btn btn-primary btn-block" href="{% url 'accounts:login' %}">ログイン画面へ</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}