{% extends 'base.html' %}
{% block title %}
    パスワード再設定
{% endblock %}
{% block content %}
<div class="col-md-3 mx-auto mt-5">
    <div class="card">
        <div class="card-body">
            <h1 class="h2">パスワード再設定</h1>
            <form class="ui form" method="POST" action="">
                <p class="alert px-2">
                    新しいパスワードを入力して<br>
                    「パスワード再設定」ボタンをクリックしてください。
                </p>
                <div class="form-group">
                    {{ form.new_password1 }}
                    <div class="text-danger">{{ form.new_password1.errors.0 }}</div>
                </div>
                <div class="form-group">
                    {{ form.new_password2 }}
                    <div class="text-danger">{{ form.new_password2.errors.0 }}</div>
                </div>
                <div class="d-flex flex-column mt-3">
                    <button type="submit" class="btn btn-primary btn-block" >パスワード再設定</button>
                </div>
                {% csrf_token %}
            </form>
        </div>
    </div>
</div>
{% endblock %}